@import url(./fonts.css);


/* CUSTOM PROPS */
:root {
    --font-fam: "Barlow";
    --orange: #F16718;
    --orange-opacity: #FF9B62;
    --dark-blue: #162542;
    --dark-blue-opacity: #7B8BAD;
    --grey: #E8EFF2;
    --white: #FFFFFF;
    
}
/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--font-fam);
}

/* CONTAINER */

.container {
    max-width: 1190px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

/* BTN 1 */
.btn-1 {
    display: block;
    background-color: var(--orange);
    padding: 16px 26px;
    border-radius: 8px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    width: max-content;
    transition: .4s;
}

.btn-1:hover {
    background-color: var(--orange-opacity);
}
.btn-1:active {
    opacity: .5;
}

/* BTN 2 */

.btn-2 {
    display: block;
    background-color: var(--grey);
    padding: 16px 26px;
    border-radius: 8px;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    width: max-content;
    transition: .4s;
}
.btn-2:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}


/* GRID */


/* GRID */
/* SITE-HEADER */
.site-header-hero {
    padding-top: 55px;
}
.site-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* SITE-HEADER */

/* SITE-HERO */
.site-hero {
    padding-top: 80px;
    padding-bottom: 30px;
}
.item-heigth {
    min-height: 480px;
}
.site-hero__grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
}
.site-desc {
    grid-row: span 2;
    grid-column: span 2;
    
}
.site-keyword__image {
    grid-row: span 2;
    grid-column: span 2;
}

.site-hero__headline {
    color: var(--dark-blue);
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    text-transform: uppercase;

}
.site-hero__desc {
    max-width: 445px;
    width: 100%;
    color: var(--dark-blue-opacity);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 40px;
}
.site-hero__button {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.site-hero__relase {
    color: var(--dark-blue-opacity);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.keyword-image {
    max-width: 580px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
/* SITE-HERO */


/* PRODUCT SECTION */
.product {
    padding-bottom: 84px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:  
        "sm lg lg lg2 lg2"
        "sm lg lg lg2 lg2"
    ;
    gap: 30px;
}
.product-item {
    min-height: 480px;
    border-radius: 20px;
    overflow: hidden;
}
.product-keyboard__sm {
    grid-area: sm;
    position: relative;
}
.product-keyboard__lg {
    grid-area: lg;
}
.product-keyboard__text {
    grid-area: lg2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 27px;
}
.product__picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.product-hover {
    width: 100%;
    height: 100%;
    background-color: #e35a0aa8;
    position: absolute;
    top: 0;
    left: 0;
}
.product-title {
    color: var(--dark-blue);
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 255px;
    width: 100%;

}
.product-desc {
    color: var(--dark-blue-opacity);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    max-width: 255px;
    width: 100%;
}
/* PRODUCT SECTION */


/* SERVICE SECTION */
.service {
    padding-top: 84px;
    padding-bottom: 84px;
}
.service-cards {
    display: flex;
    column-gap: 30px;
}
.sevice-card {
    max-width: 255px;
    width: 100%;
}
.icon-monitor {
    width: 65px;
    height: 65px;
    border-radius: 12px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card__title {
    margin-top: 48px;
    margin-bottom: 24px;
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 28px;
}
.service-card__text {
    color: var(--dark-blue-opacity);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

}
/* SERVICE SECTION */

/* SITE FOOTER */
.site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-desc {
    text-align: center;
    color: var(--dark-blue-opacity);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.footer-desc > span {
    font-weight: 700;
}
/* SITE FOOTER */

